In [59]:
import importlib
import pandas as pd
import utils

#to include
# crosstab
# crosstab with vectors
# cold start

In [60]:
importlib.reload(utils)

In [61]:
df = utils.get_cltv_data()

df

,Customer_ID,Age,Gender,CreditScore,Tenure,Balance,NumOfProducts,Country,HasCrCard,Transaction_Source_M_Count,Transaction_Source_A_Count,Transaction_Source_D_Count,Transaction_Source_V_Count,Transaction_Source_P_Count,Transaction_Source_U_Count,Avg_Transaction_Value,EstimatedSalary,CLTV
0,1,48,M,549,1,196697.070286,5,SGP,0,1,1,1,1,0,0,410.909642,149896.813374,961
1,2,42,F,628,8,157092.388819,5,CY,1,0,2,0,1,0,1,322.563213,46588.427468,728
2,3,69,M,732,9,80253.342081,3,BG,1,1,1,0,1,1,0,177.650119,72380.149948,932
3,4,31,M,677,0,50287.997355,3,NL,0,0,4,1,1,1,1,143.307564,83058.208595,677
4,5,46,M,809,9,2151.735355,4,ESP,0,0,0,0,0,0,1,302.980936,33427.162217,809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,52,M,356,1,59853.211735,1,HK,1,0,3,0,0,0,0,102.177771,120586.970973,456
996,997,22,F,833,5,98961.709006,5,IE,0,0,1,1,1,1,0,415.829164,89523.570447,833
997,998,29,F,371,2,87370.214926,4,KR,0,1,1,0,0,1,0,492.971696,30700.984933,471
998,999,35,M,526,7,179832.343373,5,KZ,1,0,4,0,0,1,1,405.148458,111901.303580,626
999,1000,62,M,564,2,146684.257745,2,SG,0,0,0,0,0,1,0,259.824854,71018.260251,564

In [62]:
df.iloc[:,1:].to_csv("output_data/customer-lifetime-value.csv", index=False)

In [63]:
df

,Customer_ID,Age,Gender,CreditScore,Tenure,Balance,NumOfProducts,Country,HasCrCard,Transaction_Source_M_Count,Transaction_Source_A_Count,Transaction_Source_D_Count,Transaction_Source_V_Count,Transaction_Source_P_Count,Transaction_Source_U_Count,Avg_Transaction_Value,EstimatedSalary,CLTV
0,1,48,M,549,1,196697.070286,5,SGP,0,1,1,1,1,0,0,410.909642,149896.813374,961
1,2,42,F,628,8,157092.388819,5,CY,1,0,2,0,1,0,1,322.563213,46588.427468,728
2,3,69,M,732,9,80253.342081,3,BG,1,1,1,0,1,1,0,177.650119,72380.149948,932
3,4,31,M,677,0,50287.997355,3,NL,0,0,4,1,1,1,1,143.307564,83058.208595,677
4,5,46,M,809,9,2151.735355,4,ESP,0,0,0,0,0,0,1,302.980936,33427.162217,809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,52,M,356,1,59853.211735,1,HK,1,0,3,0,0,0,0,102.177771,120586.970973,456
996,997,22,F,833,5,98961.709006,5,IE,0,0,1,1,1,1,0,415.829164,89523.570447,833
997,998,29,F,371,2,87370.214926,4,KR,0,1,1,0,0,1,0,492.971696,30700.984933,471
998,999,35,M,526,7,179832.343373,5,KZ,1,0,4,0,0,1,1,405.148458,111901.303580,626
999,1000,62,M,564,2,146684.257745,2,SG,0,0,0,0,0,1,0,259.824854,71018.260251,564